body{
    margin: 100px;
}

.navbar {
    padding: 1%;
    background-color: rgba(102, 200, 255);
}

.navbar-brand {
    margin-right: 50px;
    color: #061A40;
    font-size: 24px; 
    font-weight: bold; 
    font-style: normal;
}

.nav-link {
    color: #061A40 !important;
    margin-right: 15px;
    font-style: normal;

}

.nav-link:hover {
    color: #0353A4 !important;
}

.update-btn{
    width: 100px;
    padding: 10px;
    margin: 10px;
}


.card-data{
    border: 1px solid;
    padding: 20px 50px;
    color: white;
    border-radius: 20px;
}

.card-data.fashion{
    background-color: #0D6EFD;
}

.card-data.category{
    background-color: #a50dfd;
}

.card-data.user{
    background-color: #fda90d;
}

.card-data i{
   font-size: 80px;
}
.card-desc{
    font-size: 30px;
}

.card-count{
    font-size: 25px;
}

.row {
    display: flex;
    align-items: center;
}

.typography-tittle {
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.typography-text {
    color: #595959;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.custom-button-home {
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
}

.custom-button-home:last-child {
    margin-right: 0;
}

.custom-button-home {
    color: #666;
    background-color: #fff;
    border-color: #fff;
}

.btn-primary.custom-button-home {
    color: #fff;
    background-color: rgba(102, 200, 255, 0.80);
    border-color: rgba(102, 200, 255, 0.80);
}

.button-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.gallery{
    margin-top: 50px;
}

.gallery img {
    max-width: 100%;
    height: 250px;
    padding: 10px;
}